#hero{
  padding-block: 56px;
  background: F3F3F3;
}
h1{
  font-size: 60px;
  font-weight: 500;
  color: var(--typo-900);
}
p{
  color: var(--typo-600);
  font-size: 20px;
}
a{
  background: var(--typo-900);
  color: #fff;
  border-radius: 12px;
  padding: 12px;
  border: none;
}
a:hover{
  background-color:var(--green) ;
}
