.contact-panel{
  background: #F6F6F6;
  border-radius: 20px;
  padding: 28px;
  display: grid;
  grid-template-columns: 1fr 420px;
  gap: 24px;
}
.contact-form{
  display: block;
  max-width: 560px;
}
label{
  font-weight: 600;
  color: #3F4247;
}
.form-control{
  border-radius: 10px;
  padding: 10px 14px;
  border: 1.5px solid var(--black);
  background: white;
}
.form-control:focus{
  border: 3px solid var(--green);
  box-shadow: none;
}
button{
  background: var(--black);
  color: var(--surface);
  border-radius: 12px;
  padding: 12px 20px;
  font-weight: 600;
  width: 560px;
}
button:hover{
  background: var(--green);
  border-color: var(--green);
  color: white;
}

.contact-illustration{
  position: relative;
  overflow: hidden;
}
.contact-illustration img{
  height: 90%;
  width: auto;
}
textarea{
  height: 300px;
}
h2{
  background: var(--green);
  color: var(--black);
  font-weight: 700;
  border-radius: 8px;
  padding: 6px 10px;
}
@media(max-width:990px){
  .contact-panel{
    grid-template-columns: 1fr;
    padding: 22px;

  }
  .contact-illustration{
    display: none;
  }
  .form-control{
    width: 300px;
  }
  button{
    width: 300px;
  }
}
