.navbar{
  background: var(--surface);
}
.navbar-brand {
  letter-spacing: -0.02em;
  font-weight: 700;
  color:var(--black)
}
.nav-link {
  color: var(--typo-700);
  font-weight: 500;
}
.nav-link:hover, .nav-link:focus{
  color: var(--green)
}
.btn{
  background: var(--surface);
  border: 1px solid var(--black);
  border-radius: 10%;
  padding: 10px 16px;
  font-weight: 600;
  color: var(--typo-900);
}
.btn:hover{
  background: var(--green);
  border-color: var(--green);
  color: white;
}
